.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;

  .image-row {
    width: 100%;
    aspect-ratio: 1;
    display: block;
    flex-wrap: wrap;
    position: relative;

    .icon-area {
      position: absolute;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
      padding: 4px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 100px;
    }
  }

  .product-name-area {
    min-height: 60px;
  }
}