.top-bar-row {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #e9ebee;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;

  .left-area {
    width: 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    button.back-button {
      width: 56px;
      height: 100%;
      border: 0;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
    }
  }

  .center-area {
    width: calc(100% - 140px);
    height: 100%;
  }

  .right-area {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 12px;

    .button-item {
      display: inline-flex;
      position: relative;
      cursor: pointer;
      padding: 2px;
      margin-right: 2px;

      &.none-pointer {
        cursor: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.search-result-box {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;

  ul.search-result-list {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    > li.item {
      width: 100%;
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 16px 24px;
      position: relative;
      text-align: left;
      box-sizing: border-box;
      font-size: 0.8rem;
      color: #000;
      border-bottom: 1px solid #e9ebee;
      cursor: pointer;

      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}

.title-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #646f7c;
  font-size: 0.85rem;
  margin-bottom: 8px;
}

.hash-tag-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
}

input.search-input {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  color: #333;
  display: block;
  border: 0;
  outline: none;

  &::placeholder {
    color: #B2B7BB;
  }
}