ul.multiple-check-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  > li.item {
    display: inline-flex;
    margin: 0;
    margin-right: 4px;
    margin-bottom: 10px;
    padding: 10px 18px;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
    font-size: 0.8rem;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e9ebee;
    cursor: pointer;

    &.active {
      background-color: #374553;
      border: 1px solid #374553;
      color: #fff;
    }
  }
}