.address-row-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 24px 0;
  border-bottom: 1px solid #e9ebee;

  &.none-border-bottom {
    border-bottom: 0;
  }
}

.default-address-symbol {
  font-size: 0.8rem;
  color: #1e2238;
  letter-spacing: -0.03rem;
  font-weight: normal;
  display: inline-flex;
  padding: 2px 6px;
  border-radius: 10px;
  background-color: #e9ebee;
}