.swiper-custom {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;

  .slide-item {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;

    &.current-index {
      left: 0;
    }

    &.prev-index {
      left: -100%;
    }

    &.next-index {
      left: 100%;
    }

    &.not-matched-index {
      left: -200%;
    }
  }
}