.banner-box {
  width: 100%;
  display: block;
  position: relative;
  background-color: #f9f9f9;

  .banner-item {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
  }
}