.article-title-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: $fontColorBlackA;
  font-size: 0.95rem;
  margin-bottom: 15px;
  font-weight: bold;

  &.not-margin-bottom {
    margin-bottom: 0;
  }
}

.deco-line {
  display: block;
  height: 1px;
  background-color: $bgColorGrayA;
  margin: 0 16px;
}

ul.order-by-item-list {
  width: auto;
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 14px 24px;
  box-sizing: border-box;

  > li.item {
    display: inline-flex;
    font-size: 0.8rem;
    color: #374553;
    margin-right: 16px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-weight: bold;
      color: #000;
    }
  }
}