@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  background-color: #fff;
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.terms-content-area {
  display: block;
  padding: 24px;
  position: relative;
}

.next-image-wrapper {
  width: 100%;
  
	// & > span {
	// 	position: unset !important;
  img {
    height: auto !important;
    position: relative !important;
  }
	// }
}

table.table-style-a {
  margin: 0;

  > thead {
    > tr {
      > th {
        color: $fontColorBlackB;
        font-size: 0.8rem;
        text-align: left;
        padding: 2px 0;
        font-weight: normal;
      }
    }  
  }

  > tbody {
    > tr {
      > td {
        color: $fontColorBlackA;
        font-size: 0.8rem;
        margin: 0;
        text-align: left;
        padding: 6px 0;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  /* 다크 모드에 적용할 스타일 정의 */
  html, body {
    color: #000;
    overscroll-behavior-y: none;
  }

  input {
    background-color: rgba(255, 255, 255, 0) !important;
  }
}