.article-title-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #1e2238;
  font-size: 0.95rem;
  margin-bottom: 15px;
  font-weight: bold;

  &.not-margin-bottom {
    margin-bottom: 0;
  }
}

.deco-line {
  display: block;
  height: 1px;
  background-color: #e9ebee;
  margin: 0 16px;
}