.container {
  .content-row {
    animation-duration: 300ms;
    animation-fill-mode: both;   
  }

  &.default {
    .content-row {
      max-height: 0;
    }
  }
  
  &.open {
    .content-row {
      animation-name: ContentShow;
    }
  }

  &.close {
    .content-row {
      animation-name: ContentHide;
    }
  }
}

@keyframes ContentShow {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 400px;
  }
}

@keyframes ContentHide {
  0% {
    max-height: 400px;
  }
  100% {
    max-height: 0;
  }
}

