.big-title-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: $fontColorBlackA;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.deco-line {
  width: 100%;
  height: 1px;
  display: flex;
  background-color: $bgColorGrayA;
}

.price-info-title-text {
  display: inline-flex;
  color: $fontColorBlackA;
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
}

.price-info-content-text {
  display: inline-flex;
  color: $fontColorBlackA;
  font-weight: normal;
  font-size: 0.8rem;
  position: relative;
}

.price-info-title-text-big {
  display: inline-flex;
  color: $fontColorBlackA;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
}

.price-info-content-text-big {
  display: inline-flex;
  color: #ff6247;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
}
