// size variables
$globalMobileWidth: calc(100vh * 0.56);
$globalMobileLeft: calc((100% - $globalMobileWidth) / 2);

// font color variables
$fontColorBlackA: #1e2238;
$fontColorBlackB: #646f7c;

// bg color variables
$bgColorGrayA: #e9ebee;

// border color variables
$borderColorGrayA: #e9ebee;
