.pagination-box {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;

  ul.pagination-item-list {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;

    > li.item {
      list-style-type: none;
      cursor: pointer;
      padding: 4px 10px;
      color: #222;
      font-size: 0.8rem;

      &.active, &:hover {
        background-color: #222;
        color: #fff;
      }
    }
  }
}