.product-detail-description-box {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 100px;

  &.closed {
    height: 360px;

    .real-content-box {  
      position: absolute;
      top: 0;
      left: 0;
    }

    .detail-info-more-view-button-area { 
      display: flex;
    }

    .closed-blur-box {
      display: flex;
    }
  }

  .real-content-box {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    padding-top: 0;
  }

  .detail-info-more-view-button-area {
    width: calc(100% - 48px);
    display: none;
    flex-wrap: wrap;
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 2;
  }

  .closed-blur-box {
    width: calc(100% + 10px);
    height: 102px;
    display: none;
    position: absolute;
    left: -5px;
    bottom: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    filter: blur(4px);
    z-index: 1;
  }
}