.container {
  width: 100%;
  display: flex;
}

.review-writer-and-craete-at-text {
  display: inline-flex;
  font-size: 0.8rem;
  font-weight: bold;
  color: $fontColorBlackA;
}

.buy-options-text {
  display: inline-block;
  white-space: pre-line;
  font-size: 0.8rem;
  color: $fontColorBlackA;
}

.review-content-text {
  display: inline-block;
  white-space: pre-line;
  font-size: 0.8rem;
  color: $fontColorBlackB;

  .more-view-text {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}