.list {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.horizontal {
    width: auto;
  }

  &.vertical {
    flex-direction: column;
  }

  &.justify-content {
    &.flex-start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.flex-end {
      justify-content: flex-end;
    }
  }

  &.align-items {
    &.flex-start {
      align-items: flex-start;
    }

    &.center {
      align-items: center;
    }

    &.flex-end {
      align-items: flex-end;
    }
  }

  > .item {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
}