.window-size-container {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: #f7f8f9;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
}