.window-size-container {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f7f8f9;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.pc {
    width: $globalMobileWidth;
    height: 100%;
    left: $globalMobileLeft;
    border: 1px solid #333;
  }

  &.mobile {
    margin: 0;
  }
}