.container {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #e9ebee;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #1e2238;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  cursor: pointer;
}